<!-- <section class="cont">
  <div class="dispCard" *ngFor="let item of dat" (click)="get_id(item.id)">
    <div class="textdes">
      <h4>
        <span class="title">{{ item.title }}</span>
      </h4>
      <p>
        <span class="bulle">Date: {{ item.description }}</span>
      </p>
      <p>
        <span class="bulle">Date: {{ item.date }}</span>
      </p>
      <p>
        <span class="bulle">Time: {{ item.time }}</span>
      </p>
      <p>
        <span class="bulle">City: {{ item.city }}</span>
      </p>
      <p>
        <span class="bulle">Event Type: {{ item.genre }}</span>
      </p>
    </div>
  </div>
</section> -->

<div class="titlediv">
    <h2 class="title">Event title</h2>
  </div>
  <div class="container jumbotron sec">
    <div class="cat">
      <label class="lab_2">Organiser</label>
      <span class="data">Dev</span>
    </div>
  
    <div class="cat">
      <label class="lab_2">Address</label>
      <span class="data " style="margin-bottom: 10px; "
        >This is the Address This is the Address This is the Address This is the
        Address ThisThis is the Address This is the Address This is the Address
        This is the Address This is the Address This is the Address This is the
        Address This is the Address ThisThis is the Address This is the Address
        This is the Address This is the Address This is the Address This is the
        Address This is the Address This is the Address This
      </span>
    </div>
  
    <div class="cat">
      <label class="lab_2">City</label>
      <span class="data"></span>
    </div>
  
    <div class="cat">
      <label class="lab_2">Date</label>
      <span class="data">+91-9173083325</span>
    </div>
    <div class="cat">
      <label class="lab_2">Time</label>
      <span class="data">+91-9173083325</span>
    </div>
    <div class="cat" style="border:0">
      <label class="lab_2">Description</label>
      <span class="data"
        >This is the Address This is the Address This is the Address This is the
        Address This is the Address This is the Address This is the Address This
        is the Address This</span
      >
    </div>

    <button
      class="btn btn-success float-lg-right float-md-right float-sm-right btn_1"
    >
      Intrested
    </button>
  </div>
