<section class="cont">
  <div class="dispCard" *ngFor="let item of dat" (click)="get_id(item.id)">
    <div class="textdes">
      <h4>
        <span class="title">{{ item.title }}</span>
      </h4>
      <p>
        <span class="bulle">Date: {{ item.description }}</span>
      </p>
      <p>
        <span class="bulle">Date: {{ item.date }}</span>
      </p>
      <p>
        <span class="bulle">Time: {{ item.time }}</span>
      </p>
      <p>
        <span class="bulle">City: {{ item.city }}</span>
      </p>
      <p>
        <span class="bulle">Event Type: {{ item.genre }}</span>
      </p>
    </div>
  </div>
</section>
