<!-- <nav class="navbar">
  <ul>
    <li class="head">Event-<span>Hub</span></li>
    <li><a routerLink="/addEvent">Add Event</a></li>
    <li><a routerLink="/login">Login</a></li>
  </ul>
</nav> -->

<nav class="navbar">
    <ul>
      <li class="head">Event-<span>Hub</span></li>
      <!-- <li><a routerLink="/addEvent">Add Event</a></li> -->
      <li><a routerLink="/login">Login</a></li>
      <li><a style="cursor: pointer" (click)="logout()">Log Out</a></li>
      <li><a routerLink="/profile">Profile</a></li>
      <li><a routerLink="/">Dashboard</a></li>
    </ul>
  </nav>
  