<section class="cont">
  <div class="dispCard" fxLayoutGap="20px" *ngFor="let item of data">
    <div class="textdes">
      <h4>
        <span class="title">{{ item.title }}</span>
      </h4>
      <div class="data">
        <span class="bulle">Date: {{ item.date }}</span>

        <span class="bulle">Time: {{ item.time }}</span>
      </div>
      <div class="data">
        <span class="bulle">City: {{ item.city }}</span>

        <span class="bulle">Event Type: {{ item.genre }}</span>
      </div>
      <div class="data">
        <span class="bulle">Description: {{ item.description }}</span>
      </div>

      <div class="data" *ngFor="let event of intEvent">
        <div *ngIf="event==item._id; else name">
          <button (click)="interested(item._id)" id="btn11" disabled>Interested</button>
        </div>
        <ng-template #name>
          <button (click)="interested(item._id)" id="btn11">Interested</button>
        </ng-template>
      </div>

    </div>
    <!-- <div>
        <button [disabled]="buttonDisabled" (click)="buttonDisabled = true">going</button> 
      </div> -->
  </div>
</section>